# Ignore playground/ directory
playground/

# Ignore CForge artifacts
cforge.h
.b
.cforge.db

# Ignore CCLS cache
.ccls-cache/

# Ignore compile_commands.json
compile_commands.json

# Ignore build artifacts
build/

# Ignore sealcore encryption passphrase
sealcore.key

# Ignore commitlint executable
tools/commitlint*

# Ignore logo image hex
includes/boot/logo.hex
